-@title = @project.name
= semantic_form_for [@project, @suggestion] do |f|
  = f.inputs do
    = hidden_field_tag 'inline', params[:inline]
    = f.input :content, :input_html => {:autofocus=>true, :placeholder=>'your feedback'}
    = f.buttons

.suggestions
  = render @suggestions
