<!DOCTYPE html>
<html>
<head>
  <title>Connecty</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<%= connecty_install_script(12345).html_safe %>
</body>
</html>
