<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/page_header' %>
</head>
<body>
  <div class='page-wrapper'>
    <%= render 'layouts/flash' %>

    <div class='content-wrapper'>
      <h1><%= @title %></h1>
      <%= yield %>
    </div>

    <% if content_for?(:context) %>
      <div class='context-wrapper'>
          <%= yield(:context) %>
      </div>
    <% end %>
  </div>

  <%= connecty_install_script(Project.first).html_safe %>
</body>
</html>
