<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/page_header' %>
</head>
<body>
  <%= render 'layouts/flash' %>

  <h1><%= @title %></h1>
  <%= yield %>

  <%= connecty_install_script(Project.first).html_safe %>
</body>
</html>
